= link_to "FastClub", root_path, :class => 'brand'
%ul.nav
	- if current_user
		%li 
			= link_to 'Users', users_path
		%li 
			= link_to 'Logout', log_out_path
	- else
		%li 
			= link_to 'Sign Up', sign_up_path
		%li 
			= link_to 'Login', log_in_path
	- if current_user&&(can? :manage, :admin)
		%li 
			= link_to 'Admin', users_path